body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: white;
  background: -webkit-linear-gradient(
    rgba(29, 38, 113, 0.8),
    rgba(195, 55, 100, 0.8)
  );
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  text-align: center;
}
.zodiac_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 70px;
}

.zodiac_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
}
.zodiac_topSign {
  border: 3px solid white;
  padding: 25px;
  border-radius: 50%;
  transition: all 250ms ease-in-out 0s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zodiac_topSign img {
  width: 100px;
  height: 100px;
}

.zodiac_topSign:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.zodiac_topSign span {
  margin: 10px;
}
.zodiac_bottom {
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: space-between;
}

.zodiac_bottomSign {
  border: 3px solid white;
  padding: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms ease-in-out 0s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zodiac_bottomSign span {
  margin: 10px;
}

.zodiac_bottomSign img {
  width: 100px;
  height: 100px;
}

.zodiac_bottomSign:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

#zodiac_info {
  width: 500px;
  height: 300px;
  background: rgb(224, 224, 231);
  position: absolute;
  top: 30%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  padding: 20px;
  color: black;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.zodiac_infomation > h3 {
  text-transform: uppercase;
}

.closeOption {
  margin: 50px 0;
  font-size: 16px;
  padding: 10px 30px;
  background-color: whitesmoke;
  cursor: pointer;
  transition: all 250ms ease-in-out 0s;
}
